.toast-container {
  position: fixed;
  width: 360px;
  z-index: auto;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  pointer-events: none;
  display: none;
}

.toast-container.active {
  z-index: 2147483000;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: calc(72px * 3 + 24px);
  display: block;
}

.toast-container.top-right {
  top: 20px;
  right: 20px;
}

.toast-container.top-left {
  top: 20px;
  left: 20px;
}

.toast-container.bottom-right {
  bottom: 20px;
  right: 20px;
}

.toast-container.bottom-left {
  bottom: 20px;
  left: 20px;
}

.toast-container.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toast-container.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
